<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<!-- 会话工厂 -->
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/meet</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>

		<!-- 数据库方言，根据数据库选择 -->
	    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!--为了方便调试是否在运行hibernate时在日志中输出sql语句 -->
		<property name="hibernate.show_sql">true</property>
		<!-- 是否对日志中输出的sql语句进行格式化 -->
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- 加载映射文件 -->
		<mapping resource="orm/Account.hbm.xml"/>
		<mapping class="com.dong.web.entity.Account"/>
		<mapping resource="orm/AccountRole.hbm.xml"/>
		<mapping class="com.dong.web.entity.AccountRole"/>
		<mapping resource="orm/AdministrativeDivision.hbm.xml"/>
		<mapping class="com.dong.web.entity.AdministrativeDivision"/>
		<mapping class="com.dong.web.entity.DataCatalog"/>
		<mapping resource="orm/DataCatalog.hbm.xml"/>
		<mapping resource="orm/DataCatalogItem.hbm.xml"/>
		<mapping class="com.dong.web.entity.DataCatalogItem"/>
		<mapping resource="orm/LoginLogs.hbm.xml"/>
		<mapping class="com.dong.web.entity.LoginLogs"/>
		<mapping resource="orm/Menu.hbm.xml"/>
		<mapping class="com.dong.web.entity.Menu"/>
		<mapping resource="orm/OperateLogs.hbm.xml"/>
		<mapping class="com.dong.web.entity.OperateLogs"/>
		<mapping resource="orm/Org.hbm.xml"/>
		<mapping class="com.dong.web.entity.Org"/>
		<mapping resource="orm/OrgPerson.hbm.xml"/>
		<mapping class="com.dong.web.entity.OrgPerson"/>
		<mapping resource="orm/Permission.hbm.xml"/>
		<mapping class="com.dong.web.entity.Permission"/>
		<mapping resource="orm/Person.hbm.xml"/>
		<mapping class="com.dong.web.entity.Person"/>
		<mapping resource="orm/Role.hbm.xml"/>
		<mapping class="com.dong.web.entity.Role"/>
		<mapping resource="orm/RolePermission.hbm.xml"/>
		<mapping class="com.dong.web.entity.RolePermission"/>

	</session-factory>
</hibernate-configuration>

