/* 表单页通用样式 */

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form {
    position: relative;
    width: 80%;
    height: 80%;
    font-size: 16px;
}

.form-row {
    display: flex; /* 设定flex布局 */
    justify-content: space-between; /* 两端对齐，项目之间的间隔都相等 */
    align-items: center; /* 垂直居中 */
    padding: 5px 0; /* 适当的上下填充，根据需要调整 */
}

.form-row label {
    text-align: right; /* 将文字对齐到右边 */
    margin-right: 10px; /* 设置标签和输入框之间的距离 */
    flex: 0 0 120px; /* flex-grow, flex-shrink, flex-basis */
    /* 标签的宽度固定，根据最长的标签调整 */
}

.form-row input,
.form-row select {
    flex: 1; /* 输入框将占据剩余空间 */
    /* 添加一些样式修饰 */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-button button {
    width: 60px;
    height: 40px;
    margin: 0 10px;
}
